<!-- _includes/sidebar.html -->
<div class="sidebar">
  <h1 class="sidebar-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
  <nav class="sidebar-nav" aria-label="Site navigation">
    <a href="{{ '/works' | relative_url }}">works</a>
    <a href="{{ '/log' | relative_url }}">log</a>
    <a href="{{ '/about' | relative_url }}">about</a><br>
    <a href="https://www.instagram.com/underwaterlad/" target="_blank">instagram</a>
    <a href="https://x.com/underwaterlad" target="_blank">x</a>
  </nav>
</div>
