/* Default layout for all pages */
.site-wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  background: #222;
  color: #fff;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.sidebar-nav a {
  color: #fff;
  text-decoration: none;
  margin: 0.5rem 0;
  display: block;
}

.content {
  flex-grow: 1;
  padding: 2rem;
}

/* Home page overrides */
.home-landing .home-wrapper {
  display: block;
  text-align: center;
}

.home-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}
