<!-- _layouts/default.html -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body class="with-sidebar">
  <div class="site-root layout">
    {% include sidebar.html %}

    <main class="content" id="content" role="main">
      {{ content }}
    </main>
  </div>
</body>
</html>
